<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwhoiaFeD9Mf8VPTfOVl5L3rW4N732ZX4</string>
	<key>GCM_SENDER_ID</key>
	<string>69862907607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitLife</string>
	<key>PROJECT_ID</key>
	<string>fitlife-d5add</string>
	<key>STORAGE_BUCKET</key>
	<string>fitlife-d5add.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69862907607:ios:74f480405584a4f2ec9a92</string>
</dict>
</plist>